@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-base {
    @apply text-white bg-transparent font-medium
    cursor-pointer transition-all duration-[0.3s] ease-[ease] inline-block
    shadow-[inset_2px_2px_2px_0px_rgba(255,255,255,0.5),7px_7px_20px_0px_rgba(0,0,0,0.1),4px_4px_5px_0px_rgba(0,0,0,0.1)]
    px-[25px] py-2.5 rounded-[5px] relative;
    outline: none;
  }
}
